aside { /* Правая колонка */
 width: 200px; /* Ширина правой колонки */
 float: right; /* Обтекание */
}
article { /* Левая колонка */
 margin-right: 240px; /* Отступ справа */
}
ul.menu {
 list-style: none; /* Убираем маркеры */
 margin: 40px  0; /* Отступ сверху и снизу */
 padding: 0; /* Поля */
}
ul.menu li {
 padding: 5px; /* Поля */ 
 font-size: 0.8em; /* Размер шрифта */
 font-weight: bold; /* Жирное начертание */
}
ul.menu a, ul.menu span {
 padding: 5px; /* Поля */
}
ul.menu li span {
 padding-left: 25px; /* Поле слева */
 background: url(6-15.png) no-repeat 5px center; /* Маркер */
}
 ul.menu li.current { 
 background: #f9f2e2 url(6-14.png) repeat-y; /* Градиент */
}